html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    font-family: @mi-font-family;
    .font-size(16);
    line-height: 1.5;
    color: var(--mi-font-color, @mi-font-color);
    background: var(--mi-dark-grey, @mi-dark-grey);
    .letter-spacing();

    ::selection {
        color: var(--mi-font, @mi-font);
        background: var(--mi-selection, @mi-selection);
    }
    
    ::-moz-selection {
        color: var(--mi-font, @mi-font);
        background: var(--mi-selection, @mi-selection);
    }
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

a {
    color: var(--mi-theme, @mi-theme);
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .4s;
    transition: color .4s;
    -webkit-text-decoration-skip: objects;

    &:active,
    &:hover,
    &:link {
        color: var(--mi-theme, @mi-theme);
    }
}

pre, code, kbd, samp {
    margin: 0;
    font-family: @mi-code-family;
    .font-size(14);
}

pre {
    .border-radius();
}

.tag {
    .tag();
}

*,
::after,
::before,
[class*=mi-] {
    box-sizing: border-box;
}