@import './variables.less';
@import '../theme/dark.less';
@mi-passport: ~'@{mi-prefix}passport';

.@{mi-passport} {
    margin: 0 auto;
	color: @mi-font;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.linear-gradient-background();
    height: 100%;
    overflow: hidden;
}