@ant-menu: ant-menu;

.@{mi-menu} {
    color: @mi-white-color;
    background: @mi-sider-color;
    height: calc(100vh - @mi-header-height);
    margin-top: @mi-header-height;
    width: @mi-sider-width;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    overflow-x: hidden;
    overflow-y: scroll;

    & &-items, & &-item {
        min-height: @mi-sider-item-height;
        line-height: @mi-sider-item-height;
        color: @mi-white-color;
        .letter-spacing();
        transition: all .3s ease;
        overflow: hidden;
    }

    &-title {
        .flex(flex-start, center);
        height: @mi-sider-item-height;
        .properties(line-height, 18);
        flex-direction: column;

        .sub {
            .properties(font-size, 12);
            color: @mi-subsidiary-color;
        }
    }

    &-tag {
        position: absolute;
        .properties(right, 36);
        .properties(top, 14);
        color: @mi-white-color;
        .properties(height, 20);
        .properties(line-height, 14);
        .properties(font-size, 12);
        .properties(padding-left);
        .properties(padding-right);
        .properties(max-width, 64);
        .properties(font-size, 12);
        .border-radius(16);
        .text-ellipsis();
        margin: 0;
    }

    &-icon {
        position: absolute;
        .properties(right, 36);
        .properties(top, 18);
        color: @mi-theme-color;
        margin-right: 0
    }

    & &-items {
        .@{ant-menu} {
            &-submenu-title {
                .flex(center, flex-start);
                height: @mi-sider-item-height;
                line-height: @mi-sider-item-height;

                .@{ant-menu}-submenu-arrow {
                    opacity: 1;
                }

                &:hover {
                    color: @mi-theme-color;

                    .@{ant-menu}-submenu-arrow {
                        &:before, &after {
                            background: @mi-theme-color;
                        }
                    }
                }
            }

            &-sub {
                transition: all .3s ease;
                background: @mi-sider-color;
                box-shadow: none;
                overflow: hidden;
                position: relative;
            }
        }

        & .@{mi-menu} {
            &-item {
                height: @mi-sider-item-height;
                line-height: @mi-sider-item-height;
                transition: all .3s ease;

                &:hover {
                    .@{mi-menu}-link {
                        color: @mi-theme-color;
                    }
                }

                & .@{mi-menu}-link {
                    transition: all .3s ease;
                }
            }
        }
    }

    & &-item &-link {
        .flex(center, flex-start);
        color: @mi-white-color;
    }

    &.@{ant-menu}-dark &-item {
        &:not(:last-child) {
            margin-bottom: 0;
        }

        &.@{ant-menu}-item-selected {
            background-color: @mi-black-color;

            .@{mi-menu}-link, .anticon, .anticon + span {
                color: @mi-theme-color;
            }
        }

        &:hover {
            .@{mi-menu}-link, .anticon, .anticon + span {
                color: @mi-theme-color;
            }
        }

        &:after {
            border-right: 3px solid @mi-theme-color;
        }
    }
}

.ant-layout-sider {
    &-collapsed {
        & .@{mi-menu} {
            width: @mi-sider-width-sm;

            & > .@{mi-menu} {
                &-item, &-items {
                    .flex();
                    width: @mi-sider-width-sm;

                    .@{mi-menu}-link {
                        & .anticon {
                            .flex();
                            .properties(font-size, 20);
                        }
                    }

                    &.@{ant-menu}-item-selected {
                        &:after {
                            transform: scaleY(1);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.@{ant-menu} {
    &:not(.@{ant-menu}-inline) {
        .@{ant-menu} {
            &-submenu-open,
            &-submenu-active {
                color: @mi-theme-color;
            }
        }
    }

    &-dark {
        &.@{ant-menu}-submenu-popup {
            transition: none;

            .@{ant-menu} {
                &-sub {
                    background: @mi-sider-color;
                    color: @mi-white-color;
                }

                &-item {
                    min-height: @mi-sider-item-height;
                    .flex(center, flex-start);

                    > a {
                        .flex();
                        color: @mi-white-color;

                        &:hover {
                            color: @mi-theme-color;
                        }
                    }

                    &-selected {
                        background-color: @mi-black-color;

                        .@{mi-menu} {
                            &-link {
                                color: @mi-theme-color;
                                
                                .anticon, .anticon + span {
                                    color: @mi-theme-color;
                                }
                            }
                         }

                         &:after {
                            border-right: 3px solid @mi-theme-color;
                            transform: scaleY(1);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .@{mi-menu} {
            &-icon {
                .properties(right, 16);
            }
        }
    }

    &-vertical > &-submenu > &-submenu-title {
        .flex(center, flex-start);
        height: @mi-sider-item-height;
        line-height: @mi-sider-item-height;

        .@{ant-menu}-submenu-arrow {
            opacity: 1;
        }

        &:hover {
            color: @mi-theme-color;

            .@{ant-menu}-submenu-arrow {
                &:before,
                &:after {
                    background: @mi-theme-color;
                }
            }
        }
    }

    &-vertical > &-submenu-active > &-submenu-title {
        .@{ant-menu}-submenu-arrow {
            &:before,
            &:after {
                background: @mi-theme-color;
            }
        }
    }

    &-vertical &-item:not(:last-child) {
        margin-bottom: 0;

        > a {
            color: @mi-white-color;
        }
    }
}

.ant-tooltip-inner {
    min-height: 0;
}