@import '../../theme/style/variables.module.less';

.container {
    z-index: @mi-zindex + 100;

    :global(.ant-popover) {
        &-content,
        &-inner {
            background: var(--mi-palette-background);
            .frosted();
            .border(var(--mi-palette-border));
            .radius(16);
            .properties(min-width, 160);
            max-height: calc(100vh - 10rem);
        }

        &-arrow {
            &:before {
                background: var(--mi-palette-background);
            }
        }
    }

    .customize {
        width: 100%;
        position: relative;

        :global(.vc-colorpicker) {
            background-color: transparent;
            box-shadow: none;
        }

        :global(.vc-display) {
            display: none;
        }

        :global(.vc-alpha-slider) {
            margin-bottom: 0;
        }

        :global(.chrome-sliders) {
            .properties(margin-left, 6);
        }

        :global(.vc-saturation__chrome) {
            border-radius: 0;
        }
    }
}

:export {
    --palette-text: var(--mi-on-surface-variant);
    --palette-background: var(--mi-surface-variant);
    --palette-border: var(--mi-surface-variant);
}