node_modules
.DS_Store
dist
lib
es
/typings
/fonts
*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
.history
types
makeit
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.production