@import '../../theme/style/variables.module.less';

.container {
    .transition();
    .flex();
    .properties(height, @mi-header-height);
    position: absolute;
    top: 1.25rem;
    .properties(top, @mi-margin);
    .properties(left, @mi-sider-width);
    width: calc(100% - @mi-sider-width - @mi-margin);
    z-index: @mi-zindex + 1000;

    &.collapsed {
        .properties(left, @mi-sider-width-mini);
        width: calc(100% - @mi-sider-width-mini - @mi-margin);
    }
}

.inner {
    width: 100%;
    height: 100%;
    position: relative;
    backdrop-filter: blur(1.5rem);
    .flex();
}

.trigger {
    .flex();
}

.left,
.right {
    position: absolute;
    top: 0;
    width: auto;
    z-index: 10;
}

.left {
    .flex();
    left: 0;
}

.right {
    .properties(right, 16);
    top: 50%;
    transform: translateY(-50%);
}

.trigger {
    .transition();
    position: relative;
    cursor: pointer;

    .anticon {
        .properties(width, 32);
        .properties(height, 32);
        .flex();
        .circle();
    }
}