@import '../../../styles/theme/index.less';

@mi-layout: ~'@{mi-prefix}layout';
@ant: ant;
.@{mi-layout} {
    transition: all @mi-anim-duration ease;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    .properties(padding-left, 256);
    min-height: 100vh;
    &::-webkit-scrollbar {
        display: none;
    }

    &-header {
        background: var(--mi-header-bg, @mi-header-bg);
        transition: all @mi-anim-duration ease;
        .flex(center, space-between);
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        width: calc(100% - 256px);
        box-shadow: 0 0 6px var(--mi-header-bg, @mi-header-bg);
        z-index: @mi-z-index;

        &-left,
        &-right {
            .flex();
        }

        &-trigger {
            height: @mi-header-height;
            cursor: pointer;
            transition: all @mi-anim-duration ease;

            &:hover {
                background-color: var(--mi-header-trigger-hover, @mi-header-trigger-hover);
            }

            .@{ant}icon {
                width: @mi-header-height;
                height: @mi-header-height;
                .flex();
                color: var(--mi-font, @mi-font);
                .properties(font-size, 18);
                cursor: pointer;
            }

            &&-min {
                .properties(padding-left, 16);
                .properties(padding-right, 16);
                .properties(font-size, 14);
                .letter-spacing();
                .flex();

                .@{ant}icon {
                    width: 100%;
                    height: 100%;
                    color: var(--mi-font, @mi-font);
                }
            }
        }
    }

    &-side {
        background: var(--mi-side, @mi-side);
        transition: all @mi-anim-duration ease;
        box-shadow: 2px 0 6px var(--mi-side-shadow, @mi-side-shadow);
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        overflow: hidden;
        z-index: 19900407;

        &-logo {
            .flex();
            position: relative;
            width: @mi-side-width;
            height: @mi-header-height;
            background: var(--mi-header-logo-bg, @mi-header-logo-bg);
            box-shadow: 0 0 6px var(--mi-header-logo-shadow, @mi-header-logo-shadow);
            transition: all @mi-anim-duration ease;
            .properties(padding-left);
            .properties(padding-right);
            .text-ellipsis();
            cursor: pointer;
            color: var(--mi-header-logo-text, @mi-header-logo-text);

            &-site {
                .flex();
                .text-ellipsis();

                svg {
                    .font-size(30);
                    color: var(--mi-header-logo-text, @mi-header-logo-text);
                }

                > img {
                    width: @mi-side-logo-size;
                    height: @mi-side-logo-size;
                    .border-radius-circle();
                }

                > h1 {
                    .text-ellipsis();
                    background: transparent linear-gradient(127deg, var(--mi-gradient-s, @mi-gradient-s) 0%, var(--mi-gradient-m, @mi-gradient-m) 52%, var(--mi-gradient-e, @mi-gradient-e) 100%);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 0;
                    .font-size(20);
                    font-weight: bold;
                    .properties(margin-left, 12);
                    transition: all @mi-anim-duration ease-in-out;
                    .flex();
                    zoom: 1;
                }
            }
        }
    }

    &-content {
        background: var(--mi-content-bg, @mi-content-bg);
        color: @mi-content-text;
        position: relative;

        &-custom {
            position: absolute;
            top: 0;
            left: 0;
            padding-top: @mi-header-height;
            .properties(padding-left, 24);
            .properties(padding-right, 24);
        }
    }

    &-footer {
        background: var(--mi-footer-bg, @mi-footer-bg);
        color: @mi-footer-text;
        .flex();
        .properties(padding, 24);
        transition: all @mi-anim-duration ease;
	    z-index: 10;

        &-content {
            color: var(--mi-footer, @mi-footer);
            .letter-spacing();
        }
    }
}