@import '../../../styles/theme/index.less';

@mi-layout: ~'@{mi-prefix}layout';
@ant: ant;
.@{mi-layout} {
    transition: all @mi-anim-duration ease;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    .properties(padding-left, 256);
    min-height: 100vh;
    &::-webkit-scrollbar {
        display: none;
    }

    &-header {
        background: var(--mi-header-background, @mi-header-background);
        transition: all @mi-anim-duration ease;
        .flex(center, space-between);
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        width: calc(100% - 256px);
        box-shadow: 0 0 6px var(--mi-header-background, @mi-header-background);
        z-index: @mi-z-index;

        &-left,
        &-right {
            .flex();
        }

        &-trigger {
            height: @mi-header-height;
            cursor: pointer;
            transition: all @mi-anim-duration ease;

            &:hover {
                background-color: var(--mi-header-trigger-hover, @mi-header-trigger-hover);
            }

            .@{ant}icon {
                width: @mi-header-height;
                height: @mi-header-height;
                .flex();
                color: var(--mi-font, @mi-font);
                .properties(font-size, 18);
                cursor: pointer;
            }

            &&-min {
                .properties(padding-left, 16);
                .properties(padding-right, 16);
                .properties(font-size, 14);
                .letter-spacing();
                .flex();

                .@{ant}icon {
                    width: 100%;
                    height: 100%;
                    color: var(--mi-font, @mi-font);
                }
            }
        }
    }

    &-side {
        background: var(--mi-side, @mi-side);
        transition: all 0.4s ease;
        box-shadow: 2px 0 6px var(--mi-side-shadow, @mi-side-shadow);
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        overflow: hidden;
        z-index: 19900407;

        &-logo {
            .flex();
            position: relative;
            width: @mi-side-width;
            height: @mi-header-height;
            background: var(--mi-header-logo-background, @mi-header-logo-background);
            border-bottom: 1px solid var(--mi-header-logo-border-bottom, @mi-header-logo-border-bottom);
            transition: all .4s ease;
            position: fixed;
            top: 0;
            left: 0;
            .properties(padding-left);
            .properties(padding-right);
            .text-ellipsis();
            cursor: pointer;
            color: var(--mi-header-logo-text, @mi-header-logo-text);
            z-index: 19900407;

            &-site {
                .flex();
                .text-ellipsis();

                svg {
                    .font-size(30);
                    color: var(--mi-header-logo-text, @mi-header-logo-text);
                }

                > img {
                    width: @mi-side-logo-size;
                    height: @mi-side-logo-size;
                    .border-radius-circle();
                }

                > h1 {
                    .text-ellipsis();
                    color: var(--mi-header-logo-text, @mi-header-logo-text);
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-right: 0;
                    .font-size(20);
                    font-weight: 600;
                    .properties(margin-left, 12);
                    transition: all .4s ease-in-out;
                    .letter-spacing();
                    .flex();
                    zoom: 1;
                }
            }
        }
    }
}