@import '../../../styles/core/variables.module.less';

.container {
    display: flex;
    flex: auto;
    min-height: auto;
    flex-direction: column;
}

.content {
    width: 100%;
    .transition();
    .hide-scrollbar();
    min-height: 100vh;
    .properties(padding-left, @mi-sider-width);

    @media only screen and (max-width: @mi-md) {
        padding-left: 0;
    }
}