@import '../../theme/style/variables.module.less';

.container {
    display: flex;
    flex: auto;
    min-height: auto;
    flex-direction: column;
}

.content {
    width: 100%;
    .transition();
    .hide-scrollbar();
    .properties(padding-left, @mi-sider-width);
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: @mi-md) {
        padding-left: 0;
    }
}

.inner {
    width: calc(100% - 1.25rem);
    height: calc(100vh - 2.5rem);
    .properties(margin-top, @mi-margin);
    .properties(margin-bottom, @mi-margin);
    .properties(margin-right, @mi-margin);
    .radius(16);
    .hide-scrollbar();
    background: var(--mi-layout-background);
    overflow-x: hidden;
    overflow-y: auto;
}

:export {
    --layout-background: .fade(var(--mi-surface-variant), .5)[@result];
}