@import '../../../style/theme/index.less';

@mi-menu: ~'@{mi-prefix}menu';
@mi-sider-menu: ~'@{mi-prefix}layout-sider-menu';

.@{mi-menu} {
    color: @mi-white-color;
    background: @mi-sider-color;
}

.@{mi-sider-menu} {
    margin-top: @mi-header-height;
}