@import '../../theme/style/variables.module.less';

.container {
    .flex();

    &.collapsed {
        > :global(.ant-menu-title-content) {
            flex: none !important;
        }
    }
}

.link {
    color: var(--mi-menu-item-text);
}

:export {
    --menu-item-text: var(--mi-on-background);
}