@import './default.less';

@mi-theme-color: #f6ca9d;
@mi-body-color: #333333;
@mi-table-color: #101010;
@mi-table-td-color: #272727;
@mi-black-color: #000000;
@mi-white-color: #ffffff;
@mi-sider-color: #1d1e23;
@mi-sider-border-color: #4c4c4c;
@mi-subsidiary-color: #808695;
@mi-form-label-color: #999;
@mi-error-color: #ed4014;
@mi-danger-color: #ff4d4f;
@mi-success-color: #2F9688;
@mi-warning-color: #ff9900;
@mi-info-color: #2db7f5;
@mi-link-color: @mi-theme-color;
@mi-primary-color: @mi-theme-color;
@mi-passport-line-color: #3f3f3f;
@mi-passport-bg-color: #212121;
@mi-passport-icon-color: #9F9F9F;
@mi-captcha-bg-color: #636363;
@mi-modal-border-inline-color: #343434;
