@import './dark.less';

/** Flex */
.flex(@align: center, @justify: center) {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: @align;
    align-items: @align;
    justify-content: @justify;
}

/** Border Radius */
.border-radius(@raduis: 4) {
    -moz-border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
    -webkit-border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
    -o-border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
    -khtml-border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
    border-radius: (@raduis / @mi-font-size-base) * @mi-font-size;
}

.border-radius-circle() {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
}

/** Font Size */
.font-size(@size: @mi-font-size-normal){
    font-size: (@size / @mi-font-size-base) * @mi-font-size;
    line-height: ((@size + 4) / @mi-font-size-base) * @mi-font-size;
}

/** Properties */
.properties(@key, @value: @mi-spacing) {
    @{key}: (@value / @mi-font-size-base) * @mi-font-size;
}

/** Text Ellipsis */
.text-ellipsis(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/** Letter Spacing  */
.letter-spacing(@value: 2) {
    .properties(letter-spacing, 2);
}

/** Tag */
.tag {.tag();}
.tag() {
    background: #ff5500;
    margin-right: 0;
    .properties(margin-left, 24);
    .border-radius(16);
    color: @mi-white-color;
    .properties(line-height, 16);
    .properties(max-width, 64);
    .text-ellipsis();
    .properties(padding-left);
    .properties(padding-right);
    .properties(font-size, 12);
    .properties(height, 20);
}

@keyframes mi-anim-wait {
    60% {
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@keyframes mi-anim-shake {
    0% {
        -webkit-transform: translate(0, 0) rotate(0);
        -moz-transform: translate(0, 0) rotate(0);
        -o-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
    25% {
        -webkit-transform: translate(-12px, 0) rotate(0);
        -moz-transform: translate(-12px, 0) rotate(0);
        -o-transform: translate(-12px, 0) rotate(0);
        -ms-transform: translate(-12px, 0) rotate(0);
        transform: translate(-12px, 0) rotate(0);
    }
    50% {
        -webkit-transform: translate(0, 0) rotate(0);
        -moz-transform: translate(0, 0) rotate(0);
        -o-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
    75% {
        -webkit-transform: translate(-12px, 0) rotate(0);
        -moz-transform: translate(-12px, 0) rotate(0);
        -o-transform: translate(-12px, 0) rotate(0);
        -ms-transform: translate(-12px, 0) rotate(0);
        transform: translate(-12px, 0) rotate(0);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -moz-transform: translate(0, 0) rotate(0);
        -o-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0);
    }
}