@import '../../../theme/style/variables.module.less';

.container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.items {
    position: relative;
}

.thumb {
    overflow: hidden;
    .properties(min-height, 200);
    .properties(max-height, 960);
    .flex();
}