@import '../../../styles/theme/index.less';
@import (inline) 'prismjs/themes/prism-tomorrow.css';

pre[class*="language-"] {
    white-space: pre-line;

    code {
        padding: 0;
        margin: 0;
    }
}