@import '../../theme/style/variables.module.less';

.container {
    .properties(margin-top, 24);
    .properties(margin-bottom, 24);
    .properties(padding, 24);
    .radius(8);
    .gradient-hint(var(--mi-quote-background-start), var(--mi-quote-background-hint), var(--mi-quote-background-stop));
    color: var(--mi-quote-text);
    overflow: hidden;

    @media only screen and (max-width: @mi-md) {
        .properties(padding, 16);
    }

    li {
        list-style: circle;
        .properties(margin-left, 20);
        .properties(padding-left, 4);
    }

    a,
    a:hover,
    a:focus,
    a:link,
    a:active {
        color: var(--mi-quote-text);
    }

    .content {
        p {
            .properties(margin-top);
            .properties(margin-bottom);

            @media only screen and (max-width: @mi-sm) {
                .properties(margin-bottom, 12);
            }

            &:first-child {
                margin-top: 0;
            }
        }

        :global {
            .flex {
                .flex(center, flex-start);
                flex-wrap: wrap;

                &.column {
                    flex-direction: column;
                }
            }

            .important {
                font-weight: bold;
                .properties(padding-left, 4);
                .properties(padding-right, 4);
            }
        }
    }
}

:export {
    --quote-text: var(--mi-on-secondary);
    --quote-background-start: var(--mi-primary);
    --quote-background-hint: var(--mi-secondary);
    --quote-background-stop: var(--mi-tertiary);
}