@import '../../../../styles/theme/index.less';
@import '../../../../styles/core/list.less';
@import '../../../../styles/antd/table.less';
@import '../../../../styles/antd/drawer.less';
@import '../../../../styles/antd/button.less';
@import '../../../../styles/antd/input.less';

@mi-apps: ~'@{mi-prefix}apps';
.@{mi-apps} {
    .properties(padding-top, 24);
    position: relative;

    &-logo {
        .properties(width, 40);
        .properties(height, 40);
        .flex();
        margin: 0 auto;
        overflow: hidden;

        .anticon {
            font-size: 24px;
            .properties(font-size, 22);
            color: var(--mi-font, @mi-font);
        }
    }
}