@import '../../theme/style/variables.module.less';

.container {
    .properties(padding, 16);
    background: rgba(var(--mi-rgb-background), .3);
    .radius(8);
    .properties(margin-bottom);
}

.default {
    .flex(flex-start, flex-start);
    width: 100%;
}

.avatar {
    .properties(width, 32);
    .properties(height, 32);
    .circle();
    .properties(min-width, 32);
    overflow: hidden;
    border: .125rem solid var(--mi-notice-item-avatar);

    > img {
        transform: scale(1.1);
        .circle();
    }

    & + .info {
        .properties(margin-left, 12);
    }
}

.info {
    width: 100%;
    .flex(flex-start, flex-start, column);

    &-title {
        .flex(flex-start, space-between);
        width: 100%;
    }
}

.title {
    .font-size(14, bold);
    .lines(1);
    color: var(--mi-notice-item-text);
}

.date {
    .font-size(12);
    color: var(--mi-notice-item-date);
}

.summary {
    color: var(--mi-notice-item-summary);
    .font-size(12);
    .lines(1);
}

:export {
    --notice-item-border: var(--mi-inverse-on-surface);
    --notice-item-avatar: var(--mi-primary);
    --notice-item-text: var(--mi-on-surface);
    --notice-item-summary: var(--mi-inverse-surface);
    --notice-item-date: rgba(var(--mi-rgb-inverse-surface), .5);
}