@import '../../theme/style/variables.module.less';

.container {
    position: fixed;
    z-index: @mi-zindex + 100;
    
    :global(.ant-popover) {
        &-content,
        &-inner {
            background: var(--mi-notice-background);
            backdrop-filter: blur(1rem);
            border: solid .0625rem var(--mi-notice-background);
            .radius(16);
            max-height: calc(100vh - 10rem);
        }

        &-arrow {
            &:before {
                background: var(--mi-notice-background);
            }
        }
    }
}

.content {
    .flex(flex-start, center, column);
    color: var(--mi-notice-text);
    overflow: hidden;

    :global {
        .swiper-slide {
            width: auto;
        }
    }
}

.empty {
    .properties(padding-left, 24);
    .properties(padding-right, 24);
    .flex(center, center, column);

    &-time {
        .flex();
        .properties(margin-bottom, 16);
    }

    &-date,
    &-week {
        .font-size(18, bold);
    }

    &-week {
        .properties(margin-left, 16);
    }

    &-title {
        .font-size(32, bold);
        .flex();
        .properties(margin-top, 16);
    }

    &-items {
        .flex(center, center, column);
        .properties(margin-top, 12);
    }

    &-item {
        .properties(margin-bottom);

        :global(.ant-checkbox) {
            & + span {
                color: var(--mi-notice-text);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-fine {
        .flex();
        .font-size(24);
        .properties(margin-top, 16);
        .properties(margin-bottom, 16);

        :global(.anticon) {
            .properties(margin-right);
        }
    }
}

.tabs {
    position: relative;
}

.icon {
    .flex();
    color: var(--mi-notice-icon-default);
    cursor: pointer;
}

.items {
    width: 100%;
    .properties(margin-top, 16);
    .transition();
}

:export {
    --notice-text: var(--mi-on-surface-variant);
    --notice-background: var(--mi-surface-variant);
}