@import '../../theme/style/variables.module.less';

.container {
    position: relative;
}

.icon {
    .flex();
    color: var(--mi-notice-icon);
    cursor: pointer;
}

:export {
    --notice-icon: var(--mi-on-background);
}