@import '../core/variables.less';
@import '../theme/index.less';

@mi-form: ~'@{mi-prefix}form';
@ant-input: ant-input;
@ant-form: ant-form;

.@{mi-form} {
    &&-theme {
        .@{ant-form} {
            &-item-control-input-content {
                textarea,
                input {
                    .linear-gradient-background();
                    border-color: var(--mi-border, @mi-border);
                    color: var(--mi-font, @mi-font);
    
                    &:focus {
                        box-shadow: 0 0 0 2px fade(@mi-theme, 20%);
                    }
                }
                
                textarea {
                    .properties(padding-right, 24);
                }
            }
    
            &-item {
                &-label > label {
                    color: var(--mi-font, @mi-font);
                }
            }
        }
    }
}