@import '../core/variables.less';
@import '../theme/index.less';

@ant-tooltip: ant-tooltip;
.@{ant-tooltip} {
    z-index: @mi-z-index-modal;

    &-arrow {
        &-content {
            background-color: var(--mi-pre-dark, @mi-pre-dark);
        }
    }

    &-inner {
        .border-radius(8);
        .linear-gradient-background();
    }
}