@import '../../../style/theme/index';

@mi-captcha: ~'@{mi-prefix}captcha';
@mi-captcha-modal: ~'@{mi-captcha}-modal';

.@{mi-captcha} {
    width: 100%;
    .properties(height, 42);
    font-family: @mi-font-family;

    &-content {
		width: 100%;
		height: 100%;
		position: relative;
    }
    
    &-radar {
        position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		cursor: pointer;
		border-color: @mi-sider-color;
        background: @mi-white-color;
        .properties(min-width, 160);
        .border-radius(42);

        &-ready,
		&-scan,
		&-being,
		&-success {
			position: absolute;
			transition: all .5s ease;
			.properties(width, 30);
			.properties(height, 30);
			.properties(margin, 6);
        }

        &-being {
			.flex();
			
			.anticon {
    			font-size: 20px;
			}
        }
        
        &-ring,
		&-dot {
			position: absolute;
			.border-radius-circle();
			transform: scale(.4);
			width: 100%;
			height: 100%;
			box-shadow: inset 0 0 0 1px @mi-theme-color;
			background-image: linear-gradient(115deg, rgba(0, 0, 0, 0) 50%, @mi-white-color 50%), linear-gradient(65deg, @mi-white-color 50%, rgba(0, 0, 0, 0) 50%);
        }
        
        &-dot {
			background: @mi-theme-color;
		}

		&-ring {
			animation: mi-anim-wait 1s infinite;
			transform: scale(1);
		}

		&-success {
			.flex();
			cursor: default;

			.anticon {
				color: @mi-theme-color;
				.properties(font-size, 24);
			}

			&-icon {
				animation-name: mi-captcha-success;
				animation-timing-function: ease;
				animation-iteration-count: 1;
				animation-delay: .5s;
				animation-duration: .5s;
			}
		}
		
		&-scan {
			.flex();

			.anticon {
				.properties(font-size, 22);
				.properties(width, 22);
				.properties(height, 22);
				color: @mi-theme-color;
				-o-animation: mi-captcha-ratote .8s linear infinite both;
				-moz-animation: mi-captcha-ratote .8s linear infinite both;
				animation: mi-captcha-ratote .8s linear infinite both;
			}
		}

        &-tip {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			.properties(height, 42);
			.properties(padding-left, 48);
			.properties(padding-right, 48);
			.properties(font-size, @mi-font-size-normal);
			.properties(line-height, 42);
			color: @mi-sider-color;
			.text-ellipsis();
			text-align: left;
			box-sizing: border-box;

			&-error {
				color: @mi-error-color;
			}
		}
        
        &-logo {
			position: absolute;
			.properties(right, 12);
			.properties(top, 10);
			.properties(width, 20);
			.properties(height, 20);

			img {
				.border-radius-circle();
				filter: grayscale(1);
			}
		}

		&-pass {
			cursor: default;
			background: transparent;
			
			.@{mi-captcha} {
				&-radar-tip {
					cursor: default;
					color: @mi-theme-color;
					z-index: 100;
				}
			}
		}
	}

	&-success {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 0;
		cursor: default;
		transition: width .5s ease;
		.border-radius(42);

		&-show{
			background: fade(@mi-theme-color, 30%);
			border: 1px solid @mi-theme-color;
			width: 100%;
		}
	}
	
	&-modal {
		position: absolute;
		display: block;
		.properties(margin-left, 16);
		animation-name: mi-captcha-modal-open;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
		z-index: 1020;

		&-content {
			.properties(width, 286);
			position: absolute;
			left: 0;
			.properties(top, -157);
			.border-radius();
			background: @mi-sider-color;
			box-shadow: 0 0 10px @mi-sider-color;
			border: 1px solid @mi-theme-color;
		}

		&-wrap {
			position: relative;
			.properties(padding, 12);
		}

		&-embed {
			width: 100%;
			height: 0;
			position: relative;
			left: 0;
			top: 0;
			.properties(padding-bottom, 160);
			overflow: hidden;
		}

		&-loading,
		&-info {
			position: absolute;
		}

		&-loading {
			.properties(width, 260);
			.properties(height, 160);
			.flex();
			flex-direction: column;
			.border-radius();
			.properties(letter-spacing, 2);
			color: @mi-white-color;
			background: @mi-captcha-bg-color;
			.properties(font-size, @mi-font-size-normal);

			.anticon {
				.properties(font-size, 36);
				.properties(margin-bottom);
				color: @mi-white-color;
			}
		}

		&-info {
			canvas {
				position: absolute;
				.border-radius();

				&:first-child {
					z-index: 100;
				}

				&:last-child {
					z-index: 200;
				}
			}
		}

		&-result {
			position: absolute;
			left: 0;
			.properties(bottom, -32);
			width: 100%;
			color: @mi-white-color;
			transition: bottom .5s ease;
			z-index: 220;
			.flex(center, flex-start);
			.properties(text-indent, 12);
			.properties(letter-spacing, 2);
			.properties(font-size, 14);
			.properties(height, 32);

			&-success {
				background: @mi-success-color;
			}

			&-error {
				background: @mi-error-color;
			}
		}

		&-slider {
			position: relative;
			.properties(margin-top, 16);
			.properties(margin-bottom);
			margin-right: 0;

			&-track {
				background: @mi-white-color;
				border: 1px solid @mi-theme-color;
				.flex();
				.border-radius(20);
				.properties(height, 38);
				.properties(padding-left, 60);
				overflow: hidden;

				&-tip {
					width: 100%;
					.properties(height, 38);
					.properties(font-size, @mi-font-size-normal);
					color: @mi-sider-color;
					.flex(center, flex-start);
					flex-wrap: nowrap;
					opacity: 1;
					transition: opacity .3s ease;
				}
			}

			&-btn {
				position: absolute;
				top: -8px;
				left: 0;
				.properties(width, 54);
				.properties(height, 54);
				.border-radius-circle();
				border: 1px solid @mi-theme-color;
				background: @mi-white-color;
				.flex();
				cursor: pointer;
				box-shadow: 1px 1px 10px @mi-sider-color;

				.anticon {
					.properties(font-size, 24);
					color: @mi-sider-color;
				}
			}

			&&-moving {
				.@{mi-captcha-modal} {
					&-slider {
						&-track {
							&-tip {
								opacity: 0;
							}
						}
					}
				}
			}
		}

		&-panel {
			position: relative;
			border-top: 1px solid @mi-sider-border-color;
			width: 100%;
			.properties(height, 50);
			.properties(padding-left, 12);
			.properties(padding-right, 12);
			.flex(center, space-between);

			&-action{
				.flex();

				.anticon {
					.properties(font-size, 14);
					.properties(width, 14);
					.properties(height, 14);
					.properties(margin-right, 16);
					cursor: pointer;
					color: @mi-white-color;
				}
			}
		}

		&&-error {
			animation-name: mi-anim-shake;
			animation-duration: .4s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: 1.5;

			.@{mi-captcha-modal} {
				&-info canvas,
				&-slider-btn {
					transition: all .3s ease;
				}
			}
		}

		&-copyright {
			.properties(font-size, 12);
			.properties(line-height, 16);
			color: @mi-white-color;
			.properties(letter-spacing, 2);

			&-text {
				.flex();

				a {
					.properties(width, 25.6);
					.properties(height, 16);
					.properties(margin-right);

					img {
						.border-radius();
					}
				}
			}
		}

		&-mask {
			position: fixed;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			display: block;
			z-index: 1000;
		}

		&-arrow{
			display: block;
			.properties(margin-left, -21);
			.properties(margin-top, -10);

			&-in{
				position: absolute;
				border-style: solid;
				.properties(border-width, 10);
				margin: 1px 0 1px 2px;
				border-color: transparent @mi-sider-color transparent transparent;
				z-index: 1;
			}
			&-out{
				position: absolute;
				border-style: solid;
				border-width: 11px;
				border-color: transparent @mi-theme-color transparent transparent;
				z-index: 1;
			}
		}
	}
}

@keyframes mi-captcha-ratote {
	50%{
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes mi-captcha-modal-open {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0, 0, 1);
		-moz-transform: scale3d(0, 0, 1);
		-o-transform: scale3d(0, 0, 1);
		-ms-transform: scale3d(0, 0, 1);
		transform: scale3d(0, 0, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		-moz-transform: scale3d(1, 1, 1);
		-o-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes mi-captcha-success {
	25% {
		-o-transform: (25deg);
		-moz-transform: rotate(25deg);
		-ms-transform: rotate(25deg);
		-webkit-transform: rotate(25deg);
		transform: rotate(25deg)
	}
	100% {
		-o-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-ms-transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg)
	}
}