@import '../../../../styles/theme/index.less';
@import '../../../../styles/core/list.less';
@import '../../../../styles/antd/table.less';
@import '../../../../styles/antd/message.less';
@import '../../../../styles/antd/button.less';
@import '../../../../styles/antd/input.less';
@import '../../../../styles/antd/popover.less';
@import '../../../../styles/antd/drawer.less';
@import '../../../../styles/antd/form.less';
@import '../../../../styles/antd/switch.less';
@import '../../../../styles/antd/tree-select.less';
@import '../../../../styles/antd/tabs.less';

@ant-radio: ant-radio;
@ant-form: ant-form;
@mi-menus: mi-menus;
.@{mi-menus} {
    .properties(padding-top, 16);
    position: relative;

    &-drawer-select {
        z-index: 202302101409;
    }

    &-detail {
        .@{ant-radio} {
            &-wrapper-disabled {
                > span {
                    color: var(--mi-font, @mi-font);
                }
            }
        }
    }
}