@import '../core/variables.less';

@mi-theme: #f0c26f;
@mi-primary: @mi-theme;
@mi-subsidiary: #808695;
@mi-success: #598569;
@mi-error: #ff4d4f;
@mi-danger: #eb5651;
@mi-warning: #ba5a26;
@mi-info: #5787ba;
@mi-selection: fade(@mi-theme, 80%);
@mi-link: @mi-primary;
@mi-font: @mi-white;
@mi-ink: @mi-black;
@mi-dark: #1d1e23;
@mi-deep: #2d2f32;
@mi-night: #3e3e3e;
@mi-dawn: #4c4c4c;
@mi-dark-grey: #333;
@mi-light-grey: #949494;
@mi-pre-dark: #434343;
@mi-light-purple: #5a72af;
@mi-light-blue: #8da6b8;
@mi-gradient-theme-s: #d2b27d;
@mi-gradient-theme-m: #f4d5a9;
@mi-gradient-theme-e: #d1a466;
@mi-border: #505050;

// header
@mi-header-trigger-bg: fade(@mi-white, 10%);

// content
@mi-content-text: fade(@mi-white, 80%);

// menu
@mi-menu-color: fade(@mi-white, 80%);
@mi-menu-scrollbar-track-shadow: fade(@mi-black, 30%);
@mi-menu-scrollbar-thumb-bg: fade(@mi-black, 10%);
@mi-menu-scrollbar-thumb-shadow: fade(@mi-light-grey, 50%);

// dropdown
@mi-dropdown-name: fade(@mi-white, 85%);

// notice
@mi-notice-text: fade(@mi-white, 80%);
@mi-notice-time: fade(@mi-white, 20%);
@mi-notice-content: fade(@mi-white, 60%);
@mi-notice-item-border: fade(@mi-white, 2%);

// clock
@mi-clock-minute-line: fade(@mi-white, 35%);
@mi-clock-shadow: fade(@mi-black, 50%);
@mi-clock-pointer-bg: @mi-white;
@mi-clock-pointer-top-bg: @mi-black;
@mi-clock-pointer-hand-bg: @mi-white;

// radios
@mi-radio-text: fade(@mi-white, 85%);

// search
@mi-search-text: fade(@mi-white, 85%);
@mi-search-list-sub-info: fade(@mi-white, 50%);
@mi-search-no-data: fade(@mi-white, 40%);
@mi-search-list-disabled: fade(@mi-white, 10%);
@mi-search-suffix: fade(@mi-white, 90%);

// captcha
@mi-captcha-success-bg: fade(@mi-theme, 20%);

// password
@mi-passport-strength: #999;

// modal
@mi-modal-shadow: fade(@mi-dark, 15%);

// passport
@mi-passport-mask: fade(@mi-white, 10%);

// history
@mi-route-history-btn-bg: fade(@mi-white, 10%);

// checkbox
@mi-checkbox-disabled: #d9d9d9;