@import '../core/variables.less';

@mi-theme: #f6ca9d;
@mi-primary: @mi-theme;

// body
@mi-body-background: #333;

// header
@mi-header-background: '#1d1e23';
@mi-header-logo-background: '#1d1e23';
@mi-header-logo-text: @mi-theme;
@mi-header-logo-border-bottom: #232427;
@mi--header-trigger-hover: fade(@mi-black, 20%);
@mi-header-paletter-item-border: #3e3e3e;

// breadcrumb
@mi-breadcrumb-last-child: '#FFF';

// notice
@mi-notice-title: #ffffff;
@mi-notice-text: rgba(255, 255, 255, 0.8);
@mi-notice-time: rgba(255, 255, 255, 0.2);
@mi-notice-content: rgba(255, 255, 255, 0.6);
